@mixin background-image($image, $fixed: false) {
  color: white;

  background: {
    @if $fixed == true {
      attachment: fixed;
    }
    image: image-url($image);
    repeat: no-repeat;
    size: cover;
  };
}
