%headline {
  text-align: center;
  text-transform: uppercase;
}

%section {
  text-align: center;
  padding: 96px 0;

  h1 {
    @extend %section-headline;
  }
}

%section-headline {
  @extend %headline;
  border-bottom: 6px solid $orange;
  display: inline-block;

  font: {
    family: "Trade Gothic Condensed";
    size: 60px;
  };
  margin: 0 0 60px auto;
  padding: 0 0 24px;
}

%media-frame {
  @extend %section;

  .media {
    @extend .row;
  }

  .frame {
    @extend .col-md-3;
    @extend .col-sm-6;
    padding: 15px;

    img {
      @extend .img-responsive;
    }
  }
}

%font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-smooth: always;
  text-rendering: optimizeLegibility;
}
