/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "partials/imports";
@import "partials/fonts";
@import "partials/variables";
@import "partials/placeholders";
@import "partials/mixins";

body {
  @extend %font-smoothing;
  background: #fbfbfb;
}

.cover {
  width: 100vw;
  height: 100vh;
  background: rgba($indigo, 1);
  position: relative;

  .cover-image {
    @include background-image("cover-img.png", $fixed: true);
    text-align: center;
    width: 100%;
    bottom: 0;
    line-height: 0;
    overflow: hidden;
    height: 100%;
    transform: scale(1);
    z-index: 2;
  }

  .masthead {
    @extend %headline;

    font: {
      family: "Trade Gothic Bold";
      size: 108px;
    };
    text-align: center;
    letter-spacing: 0.18em;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 2;
  }
}

.news {
  @extend %section;
}

.music {
  @extend %section;
  @include background-image("music-img.png");
}

.videos {
  @extend %section;
}

.featured {
  @extend %section;
  @include background-image("featured-img.png");
}

.photos {
  @extend %section;

  .photo {
    @extend .col-md-3;
    @extend .col-sm-6;
    padding: 15px;

    & > img {
      @extend .img-responsive;
    }
  }
}

.events {
  @extend %section;
  @include background-image("featured-img.png");
}

.munz-mind {
  @extend %section;
}

footer {
  @extend %section;
  @include background-image("footer-img.png", $fixed: true);
  // background-position: 0px 160px;
  bottom: 0;

  ul {
    font: {
      family: "Trade Gothic Condensed";
      size: 36px;
    };
    margin: 0 !important;
    letter-spacing: 0.18em;
    line-height: 102px;
    text-align: center;
    text-transform: uppercase;

    li {
      display: inline-block;
      margin: 0 24px;
    }
  }
}
