/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "partials/imports";
@import "partials/fonts";
@import "partials/variables";
@import "partials/placeholders";
@import "partials/mixins";

body {
  @extend %font-smoothing;
  background: #fbfbfb;
}

.cover {
  width: 100vw;
  height: 100vh;
  background: rgba($indigo, 1);
  position: relative;

  .cover-image {
    @include background-image("cover-img.png", $fixed: true);
    text-align: center;
    width: 100%;
    bottom: 0;
    line-height: 0;
    overflow: hidden;
    height: 100%;
    transform: scale(1);
    z-index: 2;
  }

  .masthead {
    @extend %headline;

    font: {
      family: "Trade Gothic Bold";
      size: 108px;
    };
    text-align: center;
    letter-spacing: 0.18em;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 2;
  }
}

.paginate-btn {
  @extend .col-md-6;
  @extend .col-md-offset-3;

  div {
    display: table-cell;
    vertical-align: middle;
  }

  background: {
    color: #000;
    image: image-url("paginate-btn.jpg");
    position: center center;
    repeat: no-repeat;
    size: cover;
  };
  color: white;
  cursor: pointer;
  display: table;
  overflow: hidden;

  font: {
    family: "Trade Gothic Bold";
    size: 24px;
  };
  height: 72px;
  margin-top: 36px;
  margin-bottom: 36px;
  text-transform: uppercase;
  vertical-align: middle;
}

.news {
  @extend %section;

  %thumb-img {
    img {
      @extend .img-responsive;
      margin: 0 0 48px;
    }
  }
  %margin-top {
    margin: 72px 0 0;
  }

  .recent-post {
    @extend .col-sm-4;
    @extend %thumb-img;
    @extend %margin-top;
  }

  .end-recent {
    @extend .clearfix;
    @extend .hidden-xs;
    @extend .hidden-sm;
  }

  .prev-post {
    @extend .col-md-3;
    @extend .col-sm-6;
    @extend %thumb-img;
    @extend %margin-top;
  }

  .title {
    font: {
      family: "Trade Gothic Condensed";
      size: 36px;
    };
    line-height: 48px;
    margin: 0 0 18px;
  }

  .excerpt {
    font: {
      family: "Proxima Nova Regular";
      size: 18px;
    };
    line-height: 30px;
  }

  .permalink {
    font: {
      family: "Proxima Nova Extrabold";
      size: 18px;
    };
    color: #32323c;
    display: inline-block;
    letter-spacing: 0.48em;
    line-height: 30px;
    margin: 30px 0 0;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.music {
  @extend %section;
  @include background-image("music-img.png");
}

.videos {
  @extend %media-frame;
}

.featured {
  @extend %section;
  @include background-image("featured-img.png");
}

.photos {
  @extend %media-frame;
}

.events {
  @extend %section;
  @include background-image("featured-img.png", $fixed: true);

  .event {
    @extend .row;
    letter-spacing: 0.48em;
    margin: 42px 0 0;
    text-transform: uppercase;

    .date {
      @extend .col-md-3;

      font: {
        family: "Proxima Nova Bold";
        size: 24px;
      };
      text-align: right;
    }

    .venue {
      @extend .col-md-5;
      @extend .col-md-offset-1;
      line-height: 30px;
      text-align: left;

      font: {
        size: 18px;
      };

      .name {
        font: {
          family: "Proxima Nova Bold";
        };
      }

      .locale {
        font: {
          family: "Proxima Nova Regular";
        };
      }
    }

    .link {
      @extend .col-md-2;

      a:link, a:visited, a:hover, a:active {
        @include border-radius(30px);
        $link-color: white;
        color: $link-color;
        display: inline-block;
        text-decoration: none;
        line-height: 60px;
        height: 60px;
        width: 100%;

        border: {
          color: $link-color;
          style: solid;
          width: 1px;
        };

        font: {
          family: "Proxima Nova Semibold";
        };
      }
    }
  }
}

.munz-mind {
  @extend %media-frame;
}

footer {
  @extend %section;
  @include background-image("footer-img.png", $fixed: true);
  // background-position: 0px 160px;
  bottom: 0;

  ul {
    font: {
      family: "Trade Gothic Condensed";
      size: 36px;
    };
    margin: 0 !important;
    letter-spacing: 0.18em;
    line-height: 102px;
    text-align: center;
    text-transform: uppercase;

    li {
      display: inline-block;
      margin: 0 24px;
    }
  }
}
